<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
           http://www.springframework.org/schema/aop 
           http://www.springframework.org/schema/aop/spring-aop-2.5.xsd">
	<bean id="personDao" class="com.dao.impl.PersonDaoImpl"></bean>
	<bean id="personService" class="com.service.impl.PersonServiceImpl">
		<property name="personDao" ref="personDao"></property>
	</bean>
	<bean id="personAction" class="com.action.PersonAction">
		<property name="personService" ref="personService"></property>
	</bean>
	<bean id="statisticPerson" class="com.aspect.StatisticPerson"></bean>
	<aop:config>
		<aop:pointcut expression="execution(* com..*.*(..))" id="statistic"/>
		<aop:aspect ref="statisticPerson">
			<aop:before method="beforeMethod" pointcut-ref="statistic"/>
		</aop:aspect>
	</aop:config>
</beans>
